header{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1{
  margin: 0px;
}

nav {
  background-color: lightgrey;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

a{
  text-decoration:underline;
  color: #555555 ;
}

thead{
  background-color: black;
  color: white;
}

tfoot{
  background-color: black;
  color: white;
}

h3 {
  background-color: darkblue;
  color: white;
  border : 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10pt;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
}




.li_format{
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5pt;
  padding: 10px;
  margin: 5px;
  background-color: rgb(233, 232, 232);
  list-style: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.li_no_dots{
  list-style: none;
}

form{
  background-color: rgb(243, 240, 240);
  padding: 15px;
}

input{
  margin-bottom: 6px;
}

#flashred{
  color: red;
}
